.shop-container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding-top: 60px;
}
.product-flex {
    display: flex;
    justify-content: center;
    margin: 50px 0;
}
.products-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 45px;
}
.cart-container {
    width: 300px;
    height: 100vh;
    position: fixed;
    right: 0;
    padding-left: 20px;
    box-sizing: border-box;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.cart-item-container {
    padding: 2px 0;
}
.cart-container button {
    background-color: #0a3d62;
    padding: 12px 20px;
    color: #ffffff;
    border: none;
    box-sizing: border-box;
    cursor: pointer;
}
.cart-container button:hover {
    background-color: #0f578b;
    transition: all .4s ease;
}