.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}
.cart-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.cart-item .item-btn {
    background-color: #0a3d62;
    padding: 25px 10px;
    color: #ffffff;
    border: none;
    cursor: pointer;
}
.cart-item .item-btn:hover {
    background-color: #0f578b;
    transition: all .4s ease;
}